

<!DOCTYPE html>
<html>
<head>
    <title>Update a blog post </title>
</head>
<body>
    <h2>Update a post here</h2>
    <form method="POST" action="{{ url_for('update', post_id=post['id']) }}">

        <label for="author">Author Name:</label>
        <input type="text" id="author" name="author" value="{{post['author']}}" required><br><br>

        <label for="title">Blog's title:</label>
        <input type="text" id="title" name="title" value="{{post['title']}}" required><br><br>

         <label for="content">Blog Content:</label>
        <textarea id="content" name="content"   required> {{post['content']}}</textarea><br><br>


        <input type="submit" value="Update" >
    </form>
</body>
</html>
