<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Add Bootstrap CSS Link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Welcome to My Flask Blog!</h1>
        {% for post in posts %}
        <div class="card mt-3">
            <div class="card-body">
                <h2 class="card-title">{{ post.title }}</h2>
                <p class="card-text"><em>Written by {{ post.name }}</em></p>
                <div class="content">
                    <p class="card-text">
                        {{ post.content|safe }}
                    </p>
                </div>

                <div class="button-container">
                    <form method="POST" action="{{ url_for('delete', post_id=post.id) }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <form method="GET" action="{{ url_for('blog_update', post_id=post['id']) }}">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                    <form method="POST" action="{{ url_for('like_post', post_id=post['id']) }}">
                        <button type="submit" class="btn btn-success">Like</button>
                        <span class="ml-2">{{ post['likes'] }}</span>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Add Bootstrap JS and Popper.js Links (for Bootstrap components) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
